* text=auto
/tests/*.php text eol=lf
/tests/cases/**/*.php text eol=lf

/.vscode export-ignore
/docs export-ignore
/experiments export-ignore
/php-langspec export-ignore
/syntax-visualizer export-ignore
/tests export-ignore
/tools export-ignore
/validation export-ignore
/.gitattributes
/.gitignore
/.gitmodules
/.travis.yml
/Contributing.md
/README.md
/phpunit.xml
