* text=auto
/tests/*.php text eol=lf
/tests/cases/**/*.php text eol=lf

syntax-visualizer/ export-ignore
tests/ export-ignore
validation/ export-ignore
php-langspec/ export-ignore
experiments/ export-ignore
tools/ export-ignore
